@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

:root {
  font-family: var(--font-inter);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #F8FAFC;
  background-color: #030712;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 50s linear infinite;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}